<p>Type your name to start playing:</p>

<form method="POST" action="/join">

  <div class="input-container">
    <input name="name" id="name" type="text" class="input-type-text">
    <label for="name" class="input-label">
      <span class="input-label__content">Enter your name</span>
    </label>
  </div>

  <%= join_status %>

  <svg class="visuallyhidden">
    <defs>
      <clipPath id="clipBox" clipPathUnits="objectBoundingBox" stroke="transparent" >
        <polygon points="0,0 0,1 0.35,1 0.35,0.6 0.65,0.6 0.65,1 1,1 1,0" />
      </clipPath>
    </defs>
  </svg>

  <button type="submit" class="form-button">
    <span class="button-icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="#cards-icon"></use>
      </svg>
    </span>
    <span class="button-text">Join the game!</span>
  </button>

</form>

